<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="Ektron.Web.Services" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
    
  
  
  <appSettings>
    <add key="CrawlLogFile" value="c:\temp\EktronCrawler.log" />
    <add key="AssetLibraryFolder" value="C:\assetlibrary\localhost" />
    <add key="CrawlConfigFile" value="C:\iisweb\MissionSearch\EktronCrawler\EktronCrawler\Crawl.json" />
    <add key="CrawlStatusFile" value="C:\iisweb\MissionSearch\EktronCrawler\EktronCrawler\CrawlStatus.json" />

    <add key="EktronWeb_ContentApi_Content" value="http://local.ektron/workarea/webservices/Content.asmx" />
    <add key="EktronWeb_FolderApi_Folder" value="http://local.ektron/workarea/webservices/Folder.asmx" />
    <add key="EktronWeb_MetaDataApi_Metadata" value="http://local.ektron/workarea/webservices/WebServiceAPI/metadata.asmx" />
    <add key="EktronWeb_TaxonomyApi_Taxonomy" value="http://local.ektron/workarea/webservices/WebServiceAPI/Taxonomy/taxonomy.asmx" />

  </appSettings>
  
  <connectionStrings>
    <!--
    <add name="Ektron.DbConnection" providerName="System.Data.SqlClient" connectionString="server=192.168.120.27;database=CCIMAuth2;Integrated Security=false;user=brightfind;pwd=Brightfind2015!" />
    <add name="Ektron.DbConnection" providerName="System.Data.SqlClient" connectionString="server=Win10\SQL2012EXPRESS;database=CMS400Min;Integrated Security=TRUE;user=;pwd=;"/>
    <add name="Ektron.DbConnection" providerName="System.Data.SqlClient" connectionString="server=SYSCOMSQL-VM;database=CMS-Production;Integrated Security=false;user=soa1;pwd=123456;"/>
    <add name="Ektron.DbConnection" providerName="System.Data.SqlClient" connectionString="server=WIN10\SQL2012EXPRESS;database=CMS400Min87;Integrated Security=TRUE;user=;pwd=;" /> 
    <add name="Ektron.DbConnection" providerName="System.Data.SqlClient" connectionString="server=WIN10\SQL2012EXPRESS;database=CMS400Min87;Integrated Security=TRUE;user=;pwd=;" />
    
    -->
    
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding >
        <binding name="BasicHttpBinding_IAssetTransferServer" messageEncoding="Mtom" maxReceivedMessageSize="20000000"
                 maxBufferSize="20000000"
                 maxBufferPoolSize="20000000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8732/Ektron/Search/AssetTransferServer/100/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAssetTransferServer"
        contract="AssetTransferServiceReference.IAssetTransferServer"
        name="BasicHttpBinding_IAssetTransferServer" />
    </client>
  </system.serviceModel>
  
</configuration>