<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="Ektron.Web.Services" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
    
  <Ektron.Web.Services>
    <setting name="EktronCrawler_EktronWeb_ContentApi_Content" serializeAs="String">
      <value>http://local.ektron/workarea/webservices/Content.asmx</value>
    </setting>
    <setting name="EktronCrawler_EktronWeb_FolderApi_Folder" serializeAs="String">
      <value>http://local.ektron/workarea/webservices/folder.asmx</value>
    </setting>
    <setting name="EktronCrawler_EktronWeb_MetaDataApi_Metadata" serializeAs="String">
      <value>http://local.ektron/workarea/webservices/WebServiceAPI/metadata.asmx</value>
    </setting>
    <setting name="EktronCrawler_EktronWeb_TaxonomyApi_Taxonomy" serializeAs="String">
      <value>http://local.ektron/workarea/webservices/WebServiceAPI/Taxonomy/taxonomy.asmx</value>
    </setting>
  </Ektron.Web.Services>
  
  <appSettings>
    <add key="CrawlLogFile" value="c:\temp\EktronCrawler.log" />
    <add key="SearchConnectionString" value="http://192.168.120.215:8983/solr/IDSA_shard1_replica1" />
    <add key="AssetLibraryFolder" value="C:\assetlibrary\localhost" />
    <add key="CrawlConfigJson" value="C:\iisweb\MissionSearch\EktronCrawler\EktronCrawler\Crawl.json" />
  </appSettings>
  
  <connectionStrings>
    <!--
    <add name="Ektron.DbConnection" providerName="System.Data.SqlClient" connectionString="server=192.168.120.27;database=CCIMAuth2;Integrated Security=false;user=brightfind;pwd=Brightfind2015!" />
    <add name="Ektron.DbConnection" providerName="System.Data.SqlClient" connectionString="server=Win10\SQL2012EXPRESS;database=CMS400Min;Integrated Security=TRUE;user=;pwd=;"/>
    <add name="Ektron.DbConnection" providerName="System.Data.SqlClient" connectionString="server=SYSCOMSQL-VM;database=CMS-Production;Integrated Security=false;user=soa1;pwd=123456;"/>
    <add name="Ektron.DbConnection" providerName="System.Data.SqlClient" connectionString="server=WIN10\SQL2012EXPRESS;database=CMS400Min87;Integrated Security=TRUE;user=;pwd=;" /> 
    -->
    <add name="Ektron.DbConnection" providerName="System.Data.SqlClient" connectionString="server=WIN10\SQL2012EXPRESS;database=CMS400Min87;Integrated Security=TRUE;user=;pwd=;" />
    
  </connectionStrings>
  
  
</configuration>