<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="CrawlLogsPath" value="c:\temp\"/>
    <add key="CrawlConfigsPath" value="C:\iisweb\MissionSearch\EktronCrawler\EktronCrawlerService\CrawlConfigs"/>
    <add key="CrawlStatusFile" value="C:\iisweb\MissionSearch\EktronCrawler\EktronCrawlerService\crawlstatus.json"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAssetTransferServer" messageEncoding="Mtom" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8732/Ektron/Search/AssetTransferServer/100/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAssetTransferServer" contract="AssetTransferServiceReference.IAssetTransferServer" name="BasicHttpBinding_IAssetTransferServer"/>
    </client>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
